// Colors
$black: #121212;
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #C4C4C4;
$gray5: #E0E0E0;
$gray6: #F2F2F2;
$white: #FFFFFF;

$cold-black: #02090D;
$cold-white: #EEF4F6;
$red: #DB2B30;


$tablet: 700px;
$tablet-horizontal: 1000px;
$desktop: 1300px;
$fullhd: 1500px;


$fluid-easing: cubic-bezier(0, .15, .31, 1.4);
$bouncy-easing: cubic-bezier(.42, 2.75, .54, .26);
