@media screen and (min-width: $desktop) {
   :root {
      --content-width: 453px;
      --page-margin: 80px;
   }

   .main {
      perspective: 1000px;
      transform-style: preserve-3d;
      &--wrapper {
         transform: rotateX(var(--aX)) rotateY(var(--aY));
         transition: transform .3s cubic-bezier(0, .15, .31, 1.4);
         will-change: transform;
      }
   }

   .website {
      margin-bottom: 70px;
      a {
         height: 66px;
         line-height: 66px;
         letter-spacing: 2px;
         
         
         // position: relative;
         // &::after {
         //    content: '';
         //    position: absolute;
         //    top: 0;
         //    left: 0;
         //    width: 100%;
         //    height: 100%;
         //    border: 7px solid $cold-white;
         // }

         // &:hover {
         //    background-color: transparent;
         //    color: $cold-white;
         //    // @include blur-fix;
         //    // transform: translateZ(10px);
         // }

      }
      p {
         line-height: 66px;
      }
   }
   .website p, .chimera p {
      margin-right: 40px;
      // font-size: 19px;
      letter-spacing: 2px;
   }
   .chimera {
      p {
         line-height: 33px;
         margin-top: 29px;
      }
      h1 {
         letter-spacing: 12px;
         position: relative;
         left: -3px;
      }
   }

   .squad {
      &--member {
         width: calc(var(--content-width)/2);
         h3 {
            letter-spacing: 5px;
         }
         p {
            font-size: 19px;
            line-height: 33px;
         }
         .sm {
            svg {
               transition: transform .2s $bouncy-easing;
               will-change: transform;
               path {
                  transition: fill .2s;
                  will-change: fill;
               }
            } 
            a:hover {
               svg {
                  transform: translateY(-3px);
                  path {
                  fill: $red;
               }
            }
            }
            a:active {
               svg {
                  transform: scale(.9);
               }
            }
         }
      }
   }
   
   .contact {
      p {
         @include wiggle;
      }
   }
}